<div class="container d-flex">
  <div class="card mx-2">
    <h3>New List</h3> <i class="fa-solid fa-book-bible"></i>
  <%= link_to "", new_list_path %>
  </div>
  <% @lists.each do |list| %>
    <div class="card mx-2">
      <%= list.name %>
      <%=link_to list.name, list_path(list) %>
    </div>
  <% end %>
</div>
